body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}
main{
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    box-shadow: 10px 10px rgb(24, 18, 18);
    border-radius: 50px;
    color: #ffffff;
    width: 50%;
    padding: 100px;
    margin: 30px;
    text-align: center;
}
button{
    background-color: blue;
    color: rgb(250, 197, 197);
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
}
#errormessage{
    color: red;
}