body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    
}
main{
    
    background: linear-gradient(136deg, #9027ec, #4d00e7);
    box-shadow: 0 4px 15px rgba(106, 13, 173, 0.6);
    border-radius: 50px;
    color: white;
    width: 50%;
    padding: 40px;
    margin: 30px;
    text-align: center;
}
button{
    background-color: blue;
    color: rgb(250, 197, 197);
    padding: 5px;
    margin: 10px;
    border-radius: 9px;
}
#errormessage{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    font-style: bold;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: white;
}